img {
  width: 40%;
  height: 40%;
}
.highlighted {
  color: brown;
}
i.icon-gold {
  color: goldenrod;
}
.grand-total {
  font-size: 1.1rem;
  font-weight: bold;
}
i.right-align {
  position: absolute;
  right: 20px;
}
i:hover {
  color: brown;
}
a {
  cursor: pointer;
}
