<!DOCTYPE html>
<html ng-app="cameraApp">
  <head>
    <meta charset="utf-8">
    <title>Camera View</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Camera Shop</h1>
      </header>
      <main ng-controller="cartCtrl as cartController">
        <div class="row">
          <div class="col s12 m8">
            <div class="row" ng-controller="inventoryCtrl as inventoryController">
              <div class="col s8 input-field">
                <input type="text" placeholder="Search here" ng-model="inventoryController.search">
              </div>
              <div class="col s4 input-field">
                <select ng-model="inventoryController.sort">
                  <option value="name">Name</option>
                  <option value="-rating">Rating</option>
                </select>
                <label>Sort by</label>
              </div>
              <div ng-repeat="camera in inventoryController.cameras | orderBy: inventoryController.sort | filter: inventoryController.search" class="col s12 m8">
                <h4>{{camera.name}}</h4>
                <img ng-src="{{camera.image}}" />
                <h5 ng-if="camera.onSale" class="highlighted">Price: {{camera.price | currency}} (SALE!)</h5>
                <h5 ng-if="!camera.onSale">Price: {{camera.price | currency}}</h5>
                <span>
                  <i class="small material-icons icon-gold" ng-if="camera.rating >= 1">grade</i>
                  <i class="small material-icons icon-gold" ng-if="camera.rating >= 2">grade</i>
                  <i class="small material-icons icon-gold" ng-if="camera.rating >= 3">grade</i>
                  <i class="small material-icons icon-gold" ng-if="camera.rating >= 4">grade</i>
                  <i class="small material-icons icon-gold" ng-if="camera.rating >= 5">grade</i>
                  <!-- // custom filter for asterisks \\  -->
                  <!-- Rating: {{camera.rating | asterisks}} -->
                </span>
                <br>
                <a class="waves-effect waves-light btn" ng-click="cartController.addToCart(camera); cartController.updatePrices()">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <span class="card-title">Your Cart</span>
              </div>
              <div class="card-panel white" ng-repeat="item in cartController.addedToCart track by $index">
                <span class="black-text"><strong>{{item.quantity}}</strong> &nbsp; {{item.name}}<a ng-click="cartController.removeFromCart(item); cartController.updatePrices()"><i class="tiny material-icons right-align">delete</i></a></span>
              </div>
              <div class="card-content">
                <table>
                  <tbody class="white-text">
                    <tr>
                      <td>Subtotal</td>
                      <td class="right-align">{{cartController.subtotal | currency}}</td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td class="right-align">{{cartController.subtotal * .08 | currency}}</td>
                    </tr>
                    <tr>
                      <td class="grand-total">Grand Total</td>
                      <td class="right-align grand-total">{{cartController.subtotal * 1.08 | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-action">
                <a href="#">Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
